/*BLURPLE	#7289DA*/
/*FULL WHITE	#FFFFFF*/
/*DARK BUT NOT BLACK	#2C2F33*/
/*NOT QUITE BLACK	#23272A*/

html {
  @apply bg-[#434D68] overflow-y-hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.events-window {

}
